.main {
    padding: 30px;
    width: 70%;
}

.about-card {
    width: 50%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}
.label {
    color: #838383;
}